@font-face {
    font-family: pkFont;
    src: url(./../src/font/PKMN\ RBYGSC.ttf);
}

body {
    background-image: url(./../src/images/battle\ stage\ 4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: pkFont;
    margin: 0px;
    padding: 0px;
}

.pokemon1 {
    width: 500px;
    height: 200px;
    padding-top: 150px;
    padding-left: 650px;
}

.pokemon2 {
    width: 500px;
    height: 200px;
    padding-left: 250px;
}

.pokemon1 img {
    width: 180px;
    height: 180px;
}

.pokemon2 img {
    width: 200px;
    height: 200px;
}

.menu {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-left: 50px;
    font-family: pkFont;
}

.menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
    font-family: pkFont;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
}

button:hover {
    filter: brightness(1.20);
}

.ice {
    background-color: #86d1f7;
    color: white;
    font-family: pkFont;
}

.ground {
    background-color: #a9702c;
    color: white;
    font-family: pkFont;
}

.psychic {
    background-color: #f81c91;
    color: white;
    font-family: pkFont;
}

.water {
    background-color: #1552e2;
    color: white;
    font-family: pkFont;
}

.elec {
    background-color: #e3e32b;
    color: white;
    font-family: pkFont;
}

.fairy {
    background-color: #971944;
    color: white;
    font-family: pkFont;
}

.dark {
    background-color: #2e3031;
    color: white;
    font-family: pkFont;
}

.fire {
    background-color: #a92023;
    color: white;
    font-family: pkFont;
}