@font-face {
    font-family: pkFont;
    src: url(./../src/font/PKMN\ RBYGSC.ttf);
}

body {
    background-image: url(./../src/images/end1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: pkFont;
}

h1 {
    text-decoration: underline;
    margin: 20px;
}

div {
    margin-left: 550px;
    margin-top: 100px;
}

div img {
    height: 200px;
    width: 200px;
}